/*!
* SimplyJnet v0.1
* Contributors: Janette Yuen
*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #555555;
}

/*Headings
*/
.featurette-heading {
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #3F066B;
	text-shadow: 2px 2px 3px #777777;
}
@media (min-width: 992px){
	.featurette-heading {
		margin-top: 100px;
		margin-bottom: 30px;
	}
}

.bg {
  background: url(../images/ps_neutral.png) repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}

/* Navbar customizations
*/
.navbar {
	margin-bottom: 0px;
	border: 1px solid #444444;
	position: fixed;
	width: 100%;
}
.navbar-default {
	background-color: #3F066B;	
}

.navbar-default .navbar-brand {
	color: #FFF4CB;
	font-family: 'Audiowide', cursive;
}
.navbar-default .navbar-brand:hover {
	color: #FFF4CB;
}

.navbar-default .navbar-nav > li > a {
	color: #999999;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #820DE3;
	color: #FFF4CB;
}

.navbar-toggle {
	background-color: inherit;
}
/*End of navbar
*/

/*Carousel customizations*/
.carousel {
margin-bottom: 40px;
}
/* End of Carousel*/

/* Checklist section*/
.requirement_heading_title {
	text-align: right;
	font-weight: bold;
	font-style: italic;
	color: #444444;
}
.match_heading_title {
	font-weight: bold;
	font-style: italic;
	color: #444444;
}
.requirement_column {
	text-align: right;
}
.requirement_column > h3 {
	color: #568A8F;
	font-weight: bold;
}
.requirement_column > img {
	float: right;
	vertical-align: top;
}
/* End of Checklist */

/*Favourites*/
#favourites {
	text-align: center;
}
#favourites h3 {
	font-weight: bold;
	color: #568A8F;
}
/*End of Favourites*/

/* Contacts */
#contacts {
	text-align: center;
}
/*
#contacts img:hover{
	background-color: red;
}*/

/* End of Contacts */

/* footer */
footer {
	font-size: 10px;
	color: #999999;
	background: url(../images/footer_bkg2.png);
	background-color: #3F066B;
	margin-top: 5%;
	padding: 2%;
}
/* End of footer */

/*Download icon snippet from Slate theme by Jason Costello - https://github.com/jsncostello
*/
.zip_download_link {
  display: inline-block;
  /*float: right;*/
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: inline-block;
  /*float: right;*/
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}
/*END of Slate snippet*/
