/*!
* Stylesheet for SimplyJnet example page
* Contributors: Janette Yuen
*/

body {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	color: #555555;
}

/*Headings
*/
.featurette-heading {
	font-family: 'Audiowide', cursive;
	text-align: center;
	color: #3F066B;
	text-shadow: 2px 2px 3px #777777;
	vertical-align: bottom;
}
@media (min-width: 992px){
	.featurette-heading {
		margin-top: 100px;
		margin-bottom: 30px;
	}
}

.bg {
  background: url(../images/ps_neutral.png) repeat;
  position: fixed;
  width: 100%;
  height: 300%;
  top:0;
  left:0;
  z-index: -1;
}

.anchor {
	padding-top: 35px; 
	margin-top: 35px;
}
/* Navbar customizations
*/
.navbar {
	margin-bottom: 0px;
	border: 1px solid #444444;
	position: fixed;
	width: 100%;
}
.navbar-default {
	background-color: #3F066B;	
}

.navbar-default .navbar-brand {
	color: #FFF4CB;
	font-family: 'Audiowide', cursive;
}
.navbar-default .navbar-brand:hover {
	color: #FFF4CB;
}

.navbar-default .navbar-nav > li > a {
	color: #999999;
}

.navbar-default .navbar-nav > li > a:hover {
	background-color: #820DE3;
	color: #FFF4CB;
}

.navbar-toggle {
	background-color: inherit;
}
/*End of navbar
*/

/*Carousel customizations*/
.carousel {
	margin-bottom: 40px;
}
.carousel .item {
	background-color: transparent;
}
.movie-wrapper {
	text-align: center;
}
/* End of Carousel*/

/* Checklist section*/
.requirement_heading_title {
	text-align: right;
	font-weight: bold;
	font-style: italic;
	color: #444444;
}
.match_heading_title {
	font-weight: bold;
	font-style: italic;
	color: #444444;
}
.requirement_column {
	text-align: right;
}
.requirement_column > h3 {
	color: #568A8F;
	font-weight: bold;
}
.requirement_column > img {
	float: right;
	vertical-align: top;
}
#checklist .row {
	margin: 2%;
}
/*gears*/
/* CSS3 keyframes */
@-webkit-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes cckw {
    0% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
@-moz-keyframes cckw {
    0% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

/* gears */
@media (min-width: 992px){
	.gear {
	    float: none;
	    position: absolute;
	    text-align: center;

	    -moz-animation-timing-function: linear;
	    -moz-animation-iteration-count: infinite;
	    -moz-animation-direction: normal;
	    -moz-animation-delay: 0;
	    -moz-animation-play-state: running;
	    -moz-animation-fill-mode: forwards;

	    -webkit-animation-timing-function: linear;
	    -webkit-animation-iteration-count: infinite;
	    -webkit-animation-direction: normal;
	    -webkit-animation-delay: 0;
	    -webkit-animation-play-state: running;
	    -webkit-animation-fill-mode: forwards;
	}
}
@media (max-width: 992px){
	.gear {
		display: none;
	}
}
#gear1 {
    background: url('../images/g1.png') no-repeat 0 0;
    height: 85px;
    left: 31px;
    top: 45px;
    width: 85px;

    -moz-animation-name: ckw;
    -moz-animation-duration: 10s;

    -webkit-animation-name: ckw;
    -webkit-animation-duration: 10s;
}
#gear2 {
    background: url('../images/g2.png') no-repeat 0 0;
    height: 125px;
    left: 105px;
    top: 10px;
    width: 125px;

    -moz-animation-name: cckw;
    -moz-animation-duration: 16.84s;

    -webkit-animation-name: cckw;
    -webkit-animation-duration: 16.84s;
}
#gear3 {
    background: url('../images/g3.png') no-repeat 0 0;
    height: 103px;
    left: 149px;
    top: 118px;
    width: 103px;

    -moz-animation-name: ckw;
    -moz-animation-duration: 13.5s;

    -webkit-animation-name: ckw;
    -webkit-animation-duration: 13.5s;
}
#gear4 {
    background: url('../images/g4.png') no-repeat 0 0;
    height: 144px;
    left: 46px;
    top: 173px;
    width: 144px;

    -moz-animation-name: cckw;
    -moz-animation-duration: 20.2s;

    -webkit-animation-name: cckw;
    -webkit-animation-duration: 20.2s;
}
/*end of gears*/

/*arrows*/
@media (min-width: 992px){
	.arrow-right {
		margin-top: 2%;
		font-size: 120px;
		font-family: Helvetica, Arial, sans-serif;
		color: #820DE3;
		text-shadow: 5px 5px 10px #444444; 
		text-align: left;
	}
}
@media (max-width: 992px){
	.arrow-right {
		display: none;
	}
}

.arrow-right:hover {
	text-align: right;
}
/*End of arrows*/

/* End of Checklist */

/* Portfolio section styles */
#portfolio h3 {
  font-weight: bold;
  color: #568A8F;
}
/* END of Portfolio styles*/


/* About me */
.featurette-image {
	box-shadow: 5px 5px 2px #777777;
}
/*End of about me */

/*Favourites*/
#favourites {
	text-align: center;
}
#favourites h3 {
	font-weight: bold;
	color: #568A8F;
}
#favourites .img-circle {
	box-shadow: 5px 5px 2px #777777;
}
#favourites .img-circle:hover {
  width: 200px;
  height: 200px;
}
/*End of Favourites*/

/* Contacts */
#contacts {
	text-align: center;
}

#contacts img:hover{
	background-color: #84D4DB;
	border-radius: 50%;
	box-shadow: 10px 10px 5px #FFF4CB;
}

/* End of Contacts */

/* footer */
footer {
	font-size: 10px;
	color: #999999;
	background: url(../images/footer_bkg2.png);
	background-color: #3F066B;
	margin-top: 5%;
	padding: 2%;
}
/* End of footer */

/*Download icon snippet from Slate theme by Jason Costello - https://github.com/jsncostello
*/
.zip_download_link {
  display: inline-block;
  /*float: right;*/
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: inline-block;
  /*float: right;*/
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}
/*END of Slate snippet*/
